---
title: Unown Writer 2017
---
<div class="unown-box">
  <h1>
    Unown Writer
  </h1>
  <p>Enter text and we will change it to Unown letters!</p>
  <input id="main-text" class="main-text" type="text" placeholder="Enter text here!" />
  <div id="unowns" class="unowns">
    <% ('a'..'z').each do |letter| %>
      <%= image_tag "unowns/201-#{letter}.png", alt: "unown #{letter}" %>
    <% end %>
  </div>
</div>

